:root {
 --primary: #FFD93D;
 --text: #000000;
 --bg: #FFFFFF;
 --borderPrimary: rgb(255 217 61 / 0.5);
 --borderSecondary: rgb(0 0 0 / 0.15);
 --error: #dc2626;
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer
}
.input-field{
  border: solid var(--text) 1px;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

ul{
  list-style-type: none;
  padding-left: 0;
}
.input-button{
  background-color: var(--primary);
  border: none;
  font-weight: 800;
}
.error-text{
  font-size: small;
  color: var(--error);

}
.error{
  border: solid var(--error) 1px;

}
.modal{
  position: absolute;
  z-index: 5;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  filter: blur(0);
}

.blur{
  filter:blur(12px)
}
.modal-box{
  background: var(--primary);
  aspect-ratio: 1/1;
  width: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text);
  text-align: center;
}
.modal-text{
  width: 80%;
  margin-left: 0.5rem;
}
.modal-btn{
  background: var(--bg);
  border-radius: 9999px;
  border: none;
  font-size: 1.5rem;
  padding: 0 0.5rem ;
  margin-top: 2rem;
  cursor: pointer;
}
.text-underline{
  text-decoration: underline var(--primary) 0.375rem;
  text-underline-offset: 0.5rem;
}
    .loader {
  border: 8px solid var(--error); 
  border-top: 8px solid var(--primary); 
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}